@model CarDetailsViewModel

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {
            <tr>
                <td>@Model.Make</td>
                <td>@Model.Model</td>
                <td>@Model.Year</td>
                <td>@Model.Description</td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.RentingCar == true)
{
<form method="post">
    <div class="col-md-6">
        <a class="btn btn-primary float-right"
           asp-controller="UsersCars"
           asp-action="Rent"
           asp-route-id="@(Model.Id)">Next</a>
    </div>
</form>
}
