@model IEnumerable<CarServiceModel>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="card">
            <div id="customDiv">
                <img width="100" height="200" class="card-img-top" src="@car.ImageUrl" alt="@car.Make @car.Model - @car.Year @car.Category">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@car.Make @car.Model (@car.Year)</h5>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-info">View Details</a>
                    @if (ViewBag.EditAllowed == true || User.IsInRole(WebConstants.AdministratorRoleName))
                    {
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    }
                    else if (!(ViewBag.AllMode == true))
                    {
                        @*<a asp-controller="UsersCars" asp-action="Rent" asp-route-id="@car.Id" class="btn btn-info">Rent</a>*@

                        <a href="#" class="btn btn-danger" onclick="ConfirmRent(@car.Id)">Rent</a>
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                                        <h3 class="modal-title">Action Confirmation</h3>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure you want to Rent the selected Car?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                                        <a href="#" class="btn btn-success" onclick="RentCar()">Confirm</a>
                                        @*<a asp-controller="UsersCars" asp-action="Rent" asp-route-id="@car.Id" class="btn btn-info">Confirm</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="hiddenCarId" />
                    }
                </div>
            </div>
        </div>
    }
</div>

<script>
    var ConfirmRent = function (CarId) {
        $("#hiddenCarId").val(CarId);
        $("#myModal").modal('show');
    }

    var RentCar = function () {
        var carId = $("#hiddenCarId").val();

        //$.ajax({
        //    type: "GET",
        //    url: "/UsersCars/Rent",
        //    data: { id: carId },
        //    success: function (result) {
        //        $("#myModal").modal("hide");
        //        $("#row_" + carId).remove();
        //    }
        //})

        $.ajax({
            type: "GET",
            url: "/UsersCars/Rent",
            data: { id: carId },
            success: function () {
                $("#myModal").modal("hide");
                $("#row_" + carId).remove();
                location.reload();
            }
        });
    }
</script>
